In [1]:
set_1 = set([1, 3, 5])

In [2]:
set_1

{1, 3, 5}

In [3]:
set_1.add("Hello!")

In [4]:
set_1

{1, 3, 5, 'Hello!'}

In [5]:
set_1.pop(1)

TypeError: pop() takes no arguments (1 given)

In [6]:
set_1.pop()

1

In [7]:
set_1

{3, 5, 'Hello!'}

In [8]:
set_1.pop()

3

In [9]:
set_1[0]

TypeError: 'set' object does not support indexing

In [10]:
set_1

{5, 'Hello!'}

In [11]:
set_1 = set([23, 4, 5, 3, 'Hello', 23, 5])

In [12]:
set_1

{23, 3, 4, 5, 'Hello'}

In [13]:
set_2 = set_1.copy()

In [14]:
set_1

{23, 3, 4, 5, 'Hello'}

In [15]:
set_2

{23, 3, 4, 5, 'Hello'}

In [16]:
set_2.pop()

3

In [17]:
set_1.difference(set_2)

{3}

In [18]:
set_1.add(7)

In [31]:
print(set_1)
print(set_2)

{3, 'Hello', 4, 5, 7, 23, (1, 10)}
{'Hello', 4, 5, 23}

In [20]:
set_1.difference(set_2)

{3, 7}

In [21]:
# similar elements
set_1.intersection(set_2)

{23, 4, 5, 'Hello'}

In [22]:
# set_1 includes all elements from set_2
set_1.issuperset(set_2)

True

In [23]:
set_2.issuperset(set_1)

False

In [24]:
set_2.issubset(set_1)

True

In [25]:
set_1.add((1, 10))

In [30]:
print(set_1)
print(set_2)

{3, 'Hello', 4, 5, 7, 23, (1, 10)}
{'Hello', 4, 5, 23}

In [32]:
set_1.add({1, 3})

TypeError: unhashable type: 'set'

In [33]:
set_1.add(3)

In [35]:
set_1

{(1, 10), 23, 3, 4, 5, 7, 'Hello'}

In [36]:
set_1.discard(3)

In [37]:
set_1

{(1, 10), 23, 4, 5, 7, 'Hello'}

In [38]:
set_3 = {1, 55, 345}

In [39]:
set_1.isdisjoint(set_3)

True

In [40]:
set_1.union(set_3)

{(1, 10), 1, 23, 345, 4, 5, 55, 7, 'Hello'}