In [59]:
def is_9_dividable(n):
    return n % 9 == 0

In [60]:
is_9_dividable(4576)

False

In [62]:
is_9_dividable(108)

True

In [66]:
from random import randint
lst = [x * randint(1,10000) for x in range(1, 12)]

In [67]:
lst

[1575, 10826, 17394, 22940, 36845, 6012, 15897, 55776, 31590, 15280, 21208]

In [69]:
map(is_39_dividable, lst)

In [68]:
list(map(is_39_dividable, lst))

[False, False, True, False, False, False, False, False, True, False, False]

In [70]:
filter(is_39_dividable, lst)

In [71]:
lst

[1575, 10826, 17394, 22940, 36845, 6012, 15897, 55776, 31590, 15280, 21208]

In [74]:
# List only those numbers dividable by 9
list(filter(is_39_dividable, lst))

[17394, 31590]

In [90]:
def mirror_cap(s):
    return s[:-1].capitalize() + s[-1].upper()

In [91]:
mirror_cap("heLlo")

'HellO'

In [93]:
s_lst = ['berry', 'Banana', 'appLe']

In [95]:
list(map(mirror_cap, s_lst))

['BerrY', 'BananA', 'ApplE']

In [97]:
# Filter won't work! 
list(filter(mirror_cap, s_lst))

['berry', 'Banana', 'appLe']

In [99]:
list(map(lambda s : s * 2, s_lst))

['berryberry', 'BananaBanana', 'appLeappLe']

In [106]:
list(filter(lambda n : n % 15 == 0, [x for x in range(1152, 1509, 7)]))

[1215, 1320, 1425]