# Lists

In [1]:
lst = [1, 2, 4, "a", "hello", True, 34.33134, 'df']

In [2]:
lst

[1, 2, 4, 'a', 'hello', True, 34.33134, 'df']

In [3]:
lst[0:3]

[1, 2, 4]

In [4]:
lst[-3:-1]

[True, 34.33134]

In [5]:
lst_2 = [100, 101]

In [6]:
lst += lst_2

In [9]:
lst

[1, 2, 4, 'a', 'hello', True, 34.33134, 'df', 100, 101]

#### =============== IMPORTANT NOTE! ===============

In [10]:
lst += 'aaa'

In [11]:
lst

[1, 2, 4, 'a', 'hello', True, 34.33134, 'df', 100, 101, 'a', 'a', 'a']

#### =============== END OF IMPORTANT NOTE! ===============

In [12]:
lst += ['aaa']

In [16]:
lst

[1, 2, 4, 'a', 'hello', True, 34.33134, 'df', 100, 101, 'a', 'a', 'a', 'aaa']

In [17]:
lst * 2

[1,
 2,
 4,
 'a',
 'hello',
 True,
 34.33134,
 'df',
 100,
 101,
 'a',
 'a',
 'a',
 'aaa',
 1,
 2,
 4,
 'a',
 'hello',
 True,
 34.33134,
 'df',
 100,
 101,
 'a',
 'a',
 'a',
 'aaa']

# List Methods

In [42]:
lst_2 = [1, 2, 3, 4]

In [43]:
lst_2.append(5)

In [44]:
lst_2

[1, 2, 3, 4, 5]

In [45]:
#delete the last element
lst_2.pop()

5

In [46]:
lst_2

[1, 2, 3, 4]

In [47]:
#delete the 2nd element
lst_2.pop(1)

2

In [48]:
lst_2

[1, 3, 4]

In [49]:
#reverse list!
lst_2.reverse()

In [50]:
lst_2

[4, 3, 1]

In [51]:
lst_2.sort()

In [52]:
lst_2

[1, 3, 4]

In [53]:
lst_2 += [0, -1, 10, 100]

In [54]:
lst_2

[1, 3, 4, 0, -1, 10, 100]

In [55]:
lst_2.sort()

In [56]:
lst_2

[-1, 0, 1, 3, 4, 10, 100]

In [57]:
lst_2 += ["d", "a"]

In [58]:
# Sorting impossible!
lst_2.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

## Methods

In [60]:
lst_2

[-1, 0, 1, 3, 4, 10, 100, 'd', 'a']

In [62]:
# insert in certain place
lst_2.insert(3, 'd')

In [63]:
lst_2

[-1, 0, 1, 'd', 3, 4, 10, 100, 'd', 'a']

In [64]:
# index of 1st 'd'
lst_2.index('d')

3

In [65]:
lst_2.index(89)

ValueError: 89 is not in list

In [66]:
# num of 'd' in list
lst_2.count('d')

2

In [67]:
# remove 1 from list
lst_2.remove(1)

In [68]:
lst_2

[-1, 0, 'd', 3, 4, 10, 100, 'd', 'a']

In [74]:
lst_2.extend([200, 2000])

In [75]:
lst_2

[-1, 0, 'd', 3, 4, 10, 100, 'd', 'a', 200, 2000]

# Nested lists

In [83]:
l_1 = [1, 2, 3]
l_2 = [4, 5, 6]

matrix = [l_1, l_2, [7, 8, 9]]

In [84]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [85]:
matrix[1]

[4, 5, 6]

In [86]:
matrix[1][1] *= 10

In [87]:
matrix

[[1, 2, 3], [4, 50, 6], [7, 8, 9]]

In [88]:
matrix[1].clear()

In [89]:
matrix

[[1, 2, 3], [], [7, 8, 9]]

In [91]:
matrix[1] = [False, True, True, False]

In [92]:
matrix

[[1, 2, 3], [False, True, True, False], [7, 8, 9]]